#jianzhengzhangzhiCRSlog{
  float: top left
}
#logCRS {
  max-width: 140px;
  transform: translate3d(0px, 0px, 0);
  transition: 500ms;
  padding: 8px 0 7px 2%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
#logyj{
  float: right;
  background: no-repeat center center #273650;
}
#headerlog{
  width: 50px;
  height: 51px;
}
.catch{
  position: absolute;
  top: 20%;
  left: 24%;
}
.about .inner {
  padding-left: 11%;
  position: relative;
  width: 50%;
  padding-right: 0;
  background-color: #fff;
  height: 100%;
  padding: 72px;
  box-sizing: border-box;
  position: absolute;
  top: 950px;
  font-size: 1.4rem;
  color: #444444;
  line-height: 1.4;
  -webkit-text-size-adjust: 100%;
  font-family: Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 1rem;
  line-height: 1;
  color: #333;
}
#about{
  background-image:url(../img/top/mv1.jpg);
}
.anim_1{
  width: 80%;
}
section .content_box {
  height: 100%;
  padding: 72px;
  box-sizing: border-box;
}
.inner {
  box-sizing: border-box;
  height: 150%;
  width: 100%;
}
.ttl{
  width: 40%;
  background-color: #fff;
}
.ttl img{
  max-width: 661px;
}
.ttl h3{
  margin: 35px 0 -50px 0;
  font-size: 2.8rem;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  font-weight: normal;
  color: #273650;
}
.ttl p{
  margin: 0 0 60px 0;
  padding-right: 10px;
}
.about.bg3 {
  height: 100%;
  background-image: linear-gradient(transparent 99%, rgba(255, 255, 255, 0.4) 1%), linear-gradient(90deg, transparent 99%, rgba(255, 255, 255, 0.4) 1%);
  background-size: 100px 100px;
  background-repeat: repeat;
}

#theImg{
position: fixed;
}
#html, body, div, span,
object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, abbr, address, cite,
code, del, dfn, em, img, ins, kbd, q,
samp, small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section,
summary, time, mark, audio, video{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}